<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml"/>
	
	<appender name="serverlog"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<prudent>true</prudent>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>./log/server/serverlog.%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
 
		<encoder>
			<pattern>[%d{yyyy-MM-dd HH:mm:ss}]%msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="accessLog"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<prudent>true</prudent>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>./log/access/accessLog.%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
 
		<encoder>
			<pattern>[%d{yyyy-MM-dd HH:mm:ss}]%msg%n</pattern>
		</encoder>
	</appender>
	
 	<logger name="accessLogger">
		<level value="DEBUG" />
		<appender-ref ref="accessLog"/>
	</logger>
 
	<root level="INFO">
		<appender-ref ref="serverlog"/>
	</root>
</configuration>
